{% load static %}
<html>
    <head>
        <title>School Management</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css" />
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

    </head>
    <body>

    <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">School Management</a>
            </div>
            <ul class="nav navbar-nav">
                {% if request.user.is_authenticated %}
                      <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Actions
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="/account/command?action=assign_application">Assign applications</a></li>
                          <li><a href="/account/command?action=resolve_conflict">Re-assign conflicts</a></li>
                          <li><a href="/account/command?action=dispatch_offer">Dispatch offer</a></li>
                        </ul>
                      </li>
                {% endif %}
            </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'application-submit' %}">Submit application</a></li>
                  {% if request.user.is_authenticated %}
                      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                  {% endif %}
                </ul>
          </div>
    </nav>

    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
    {% endfor %}




{#        <div class="page-header">#}
{#            {% if request.user.is_authenticated %}#}
{#            <button onclick="location.href='{% url 'logout' %}';" class="logout-btn btn btn-primary pull-right">#}
{#                Logout#}
{#            </button>#}
{#            {% endif %}#}
{#            <h1><a href="/">School Management</a></h1>#}
{#        </div>#}

        <div class="content container">
            <div class="row">
                <div class="col-md-12">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>