{% extends 'base.html' %}

{% block content %}


        <div class="page-wrapper" style="display: block;">
        <div class="page-breadcrumb">
                <div class="col-5 align-self-center">
                    <h4 class="page-title">School batches</h4>
                </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex no-block align-items-center m-b-30">
                                    <h4 class="card-title">All Batches</h4>
                                    <div class="ml-auto">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#createmodel">
                                                Create New Batch
                                            </button>
                                        </div>
                                    </div>
                            </div>
                            <div class="table-responsive">
                                    <table class="table table-striped table-bordered">
                                            <thead>
                                          <tr>
                                            <th>Name</th>
                                            <th>Year</th>
                                            <th>Application start date</th>
                                            <th>Application end date</th>
                                            <th>Max batch size</th>
                                            <th>Is current batch?</th>
                                            <th></th>
                                          </tr>
                                        </thead>
                                        <tbody>

                                        {% for batch in batches.all %}
                                                <tr>
                                                    <td>{{ batch.name }}</td>
                                                    <td>{{ batch.year }}</td>
                                                    <td>{{ batch.application_acceptance_start_at }}</td>
                                                    <td>{{ batch.application_acceptance_end_at }}</td>
                                                    <td>{{ batch.max_batch_size }}</td>
                                                    <td>{{ batch.is_current }}</td>
                                                    <td style="text-align: center">
                                                        <a href="/account/batch/{{ batch.id }}/students/">Students</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




{#    <div class="container">#}
{#	<div class="row">#}
{#		<h2>School batches</h2>#}
{##}
{##}
{#    <form method="post">{% csrf_token %}#}
{#    {{ form.as_p }}#}
{#        <input type="submit" class="btn btn-primary" value="Create batch">#}
{#    </form>#}
{##}
{#<table class="table table-bordered">#}
{#    <thead>#}
{#      <tr>#}
{#        <th>Name</th>#}
{#        <th>Year</th>#}
{#        <th>Application start date</th>#}
{#        <th>Application end date</th>#}
{#        <th>Max batch size</th>#}
{#        <th>Is current batch?</th>#}
{#        <th></th>#}
{#      </tr>#}
{#    </thead>#}
{#    <tbody>#}
{##}
{#    {% for batch in batches.all %}#}
{#            <tr>#}
{#                <td>{{ batch.name }}</td>#}
{#                <td>{{ batch.year }}</td>#}
{#                <td>{{ batch.application_acceptance_start_at }}</td>#}
{#                <td>{{ batch.application_acceptance_end_at }}</td>#}
{#                <td>{{ batch.max_batch_size }}</td>#}
{#                <td>{{ batch.is_current }}</td>#}
{#                <td>#}
{#                    <a href="/account/batch/{{ batch.id }}/students/">Students</a>#}
{#                </td>#}
{#            </tr>#}
{#        {% endfor %}#}
{##}
{##}
{#    </tbody>#}
{#  </table>#}
{#	</div>#}
{##}
{#    </div>#}


        <div class="modal fade" id="createmodel" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="createModalLabel"></i> Create New Batch</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="post">{% csrf_token %}
                                <div class="modal-body">
                                    {{ form.as_p }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-dark"><i class="ti-save"></i> Save</button>
                                </div>
                            </form>
                    </div>
                </div>
    </div>



    <script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
    });
  });
  </script>

{% endblock content %}