{% extends 'base.html' %}

{% block content %}

    <div class="container">
	<div class="row">
		<h2>Edit {{ page }}</h2>


    <form method="post">{% csrf_token %}
    {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Update">
    </form>

    <style>
        input[type=checkbox]{
            width: auto;
        }
    </style>

    <script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
    });
  });
  </script>

{% endblock content %}