{% extends 'base.html' %}

{% block content %}


                <div class="page-wrapper" style="display: block;">
        <div class="page-breadcrumb">
                <div class="col-5 align-self-center">
                    <h4 class="page-title">Rate Application</h4>
                </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                    <table class="table table-striped table-bordered">
                                           <tbody>
                                                <tr>
                                                    <td>First Name</td>
                                                    <td>{{ application.student.first_name }}</td>
                                                </tr>

                                                <tr>
                                                    <td>Last Name</td>
                                                    <td>{{ application.student.last_name }}</td>
                                                </tr>

                                                <tr>
                                                    <td>Gender</td>
                                                    <td>{{ application.student.gender }}</td>
                                                </tr>

                                                <tr>
                                                    <td>Date of birth</td>
                                                    <td>{{ application.student.date_of_birth }}</td>
                                                </tr>

                                                <tr>
                                                    <td>Email</td>
                                                    <td>{{ application.student.email }}</td>
                                                </tr>

                                                <tr>
                                                    <td>Phone number</td>
                                                    <td>{{ application.student.phone_number }}</td>
                                                </tr>

                                                <tr>
                                                    <td>Application text</td>
                                                    <td>{{ application.application_text }}</td>
                                                </tr>

                                                <tr>
                                                    <td>Educational info</td>
                                                    <td>{{ application.educational_info }}</td>
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>

                             <form method="post">{% csrf_token %}
                            {{ form.as_p }}
                                <input type="submit" class="btn btn-dark" value="Rate application">
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




{#    <div class="container">#}
{#	<div class="row">#}
{#		<h2>Rate applications</h2>#}
{##}
{#<table class="table table-bordered">#}
{#    <tbody>#}
{#    <tr>#}
{#        <td>First Name</td>#}
{#        <td>{{ application.student.first_name }}</td>#}
{#    </tr>#}
{##}
{#    <tr>#}
{#        <td>Last Name</td>#}
{#        <td>{{ application.student.last_name }}</td>#}
{#    </tr>#}
{##}
{#    <tr>#}
{#        <td>Gender</td>#}
{#        <td>{{ application.student.gender }}</td>#}
{#    </tr>#}
{##}
{#    <tr>#}
{#        <td>Date of birth</td>#}
{#        <td>{{ application.student.date_of_birth }}</td>#}
{#    </tr>#}
{##}
{#    <tr>#}
{#        <td>Email</td>#}
{#        <td>{{ application.student.email }}</td>#}
{#    </tr>#}
{##}
{#    <tr>#}
{#        <td>Phone number</td>#}
{#        <td>{{ application.student.phone_number }}</td>#}
{#    </tr>#}
{##}
{#    <tr>#}
{#        <td>Application text</td>#}
{#        <td>{{ application.application_text }}</td>#}
{#    </tr>#}
{##}
{#    <tr>#}
{#        <td>Educational info</td>#}
{#        <td>{{ application.educational_info }}</td>#}
{#    </tr>#}
{#    </tbody>#}
{#  </table>#}
{#	</div>#}
{##}
{#     <form method="post">{% csrf_token %}#}
{#    {{ form.as_p }}#}
{#        <input type="submit" class="btn btn-primary" value="Rate application">#}
{#    </form>#}
{##}
{#    </div>#}


    <script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
    });
  });
  </script>

{% endblock content %}