{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Upload applications</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-dark" value="Upload application">
                        <br/>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>


{#    <div class="container">#}
{#	<div class="row">#}
{#		<h2>Upload applications</h2>#}
{#	</div>#}
{##}
{#     <form method="post" enctype="multipart/form-data">{% csrf_token %}#}
{#    {{ form.as_p }}#}
{#        <input type="submit" class="btn btn-primary" value="Upload application">#}
{#    </form>#}
{##}
{#    </div>#}

{% endblock content %}